<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at http://mozilla.org/MPL/2.0/. -->

<panel id="widget-overflow"
       class="panel-no-padding"
       role="group"
       type="arrow"
       noautofocus="true"
       position="bottomcenter topright"
       hidden="true">
  <panelmultiview mainViewId="widget-overflow-mainView">
    <panelview id="widget-overflow-mainView"
               context="toolbar-context-menu">
      <vbox class="panel-subview-body">
        <vbox id="widget-overflow-list" class="widget-overflow-list"
              overflowfortoolbar="nav-bar"/>
        <toolbarseparator id="widget-overflow-fixed-separator" hidden="true"/>
        <vbox id="widget-overflow-fixed-list" class="widget-overflow-list" hidden="true" />
      </vbox>
      <toolbarbutton command="cmd_CustomizeToolbars"
                      id="overflowMenu-customize-button"
                      class="subviewbutton panel-subview-footer"
                      accesskey="&overflowCustomizeToolbar.accesskey;"
                      label="&overflowCustomizeToolbar.label;"/>
    </panelview>
  </panelmultiview>
  <!-- This menu is here because not having it in the menu in which it's used flickers
       when hover styles overlap. See https://bugzilla.mozilla.org/show_bug.cgi?id=1378427 .
       -->
  <menupopup id="customizationPanelItemContextMenu"
             onpopupshowing="gCustomizeMode.onPanelContextMenuShowing(event); ToolbarContextMenu.updateExtension(this)">
    <menuitem oncommand="ToolbarContextMenu.openAboutAddonsForContextAction(this.parentElement)"
              data-lazy-l10n-id="toolbar-context-menu-manage-extension"
              contexttype="toolbaritem"
              class="customize-context-manageExtension"/>
    <menuitem oncommand="ToolbarContextMenu.removeExtensionForContextAction(this.parentElement)"
              data-lazy-l10n-id="toolbar-context-menu-remove-extension"
              contexttype="toolbaritem"
              class="customize-context-removeExtension"/>
    <menuitem oncommand="ToolbarContextMenu.reportExtensionForContextAction(this.parentElement, 'toolbar_context_menu')"
              data-lazy-l10n-id="toolbar-context-menu-report-extension"
              contexttype="toolbaritem"
              class="customize-context-reportExtension"/>
    <menuseparator/>
    <menuitem oncommand="gCustomizeMode.addToPanel(document.popupNode, 'panelitem-context')"
              id="customizationPanelItemContextMenuPin"
              data-lazy-l10n-id="toolbar-context-menu-pin-to-overflow-menu"
              closemenu="single"
              class="customize-context-moveToPanel"/>
    <menuitem oncommand="gCustomizeMode.addToToolbar(document.popupNode, 'panelitem-context')"
              id="customizationPanelItemContextMenuUnpin"
              closemenu="single"
              class="customize-context-moveToToolbar"
              accesskey="&customizeMenu.unpinFromOverflowMenu.accesskey;"
              label="&customizeMenu.unpinFromOverflowMenu.label;"/>
    <menuitem oncommand="gCustomizeMode.removeFromArea(document.popupNode, 'panelitem-context')"
              closemenu="single"
              class="customize-context-removeFromPanel"
              data-lazy-l10n-id="toolbar-context-menu-remove-from-toolbar"/>
    <menuseparator/>
    <menuitem command="cmd_CustomizeToolbars"
              class="viewCustomizeToolbar"
              data-lazy-l10n-id="toolbar-context-menu-view-customize-toolbar"/>
  </menupopup>
</panel>

<html:template id="panicButtonNotificationTemplate">
  <panel id="panic-button-success-notification"
         type="arrow"
         position="bottomcenter topright"
         hidden="true"
         role="alert"
         orient="vertical">
    <hbox id="panic-button-success-header">
      <image id="panic-button-success-icon" alt=""/>
      <vbox>
        <description>&panicButton.thankyou.msg1;</description>
        <description>&panicButton.thankyou.msg2;</description>
      </vbox>
    </hbox>
    <button label="&panicButton.thankyou.buttonlabel;"
            id="panic-button-success-closebutton"
            oncommand="PanicButtonNotifier.close()"/>
  </panel>
</html:template>

<html:template id="appMenuNotificationTemplate">
  <panel id="appMenu-notification-popup"
         class="popup-notification-panel panel-no-padding"
         type="arrow"
         position="after_start"
         flip="slide"
         orient="vertical"
         noautofocus="true"
         noautohide="true"
         nopreventnavboxhide="true"
         role="alert">
    <popupnotification id="appMenu-update-available-notification"
                       popupid="update-available"
                       data-lazy-l10n-id="appmenu-update-available"
                       data-l10n-attrs="buttonlabel, buttonaccesskey, secondarybuttonlabel, secondarybuttonaccesskey"
                       closebuttonhidden="true"
                       dropmarkerhidden="true"
                       checkboxhidden="true"
                       buttonhighlight="true"
                       hidden="true">
      <popupnotificationcontent id="update-available-notification-content" orient="vertical">
        <description id="update-available-description" data-lazy-l10n-id="appmenu-update-available-message"></description>
        <label id="update-available-whats-new" is="text-link" data-lazy-l10n-id="appmenu-update-whats-new"/>
      </popupnotificationcontent>
    </popupnotification>

    <popupnotification id="appMenu-update-manual-notification"
                       popupid="update-manual"
                       data-lazy-l10n-id="appmenu-update-manual"
                       data-l10n-attrs="buttonlabel, buttonaccesskey, secondarybuttonlabel, secondarybuttonaccesskey"
                       closebuttonhidden="true"
                       dropmarkerhidden="true"
                       checkboxhidden="true"
                       buttonhighlight="true"
                       hidden="true">
      <popupnotificationcontent id="update-manual-notification-content" orient="vertical">
        <description id="update-manual-description" data-lazy-l10n-id="appmenu-update-manual-message"></description>
        <label id="update-manual-whats-new" is="text-link"  data-lazy-l10n-id="appmenu-update-whats-new"/>
      </popupnotificationcontent>
    </popupnotification>

    <popupnotification id="appMenu-update-unsupported-notification"
                       popupid="update-unsupported"
                       data-lazy-l10n-id="appmenu-update-unsupported"
                       data-l10n-attrs="buttonlabel, buttonaccesskey, secondarybuttonlabel, secondarybuttonaccesskey"
                       closebuttonhidden="true"
                       dropmarkerhidden="true"
                       checkboxhidden="true"
                       buttonhighlight="true"
                       hidden="true">
      <popupnotificationcontent id="update-unsupported-notification-content" orient="vertical">
        <description id="update-unsupported-description" data-lazy-l10n-id="appmenu-update-unsupported-message"></description>
      </popupnotificationcontent>
    </popupnotification>

    <popupnotification id="appMenu-update-restart-notification"
                       popupid="update-restart"
                       data-lazy-l10n-id="appmenu-update-restart"
                       data-l10n-attrs="buttonlabel, buttonaccesskey, secondarybuttonlabel, secondarybuttonaccesskey"
                       closebuttonhidden="true"
                       dropmarkerhidden="true"
                       checkboxhidden="true"
                       buttonhighlight="true"
                       hidden="true">
      <popupnotificationcontent id="update-restart-notification-content" orient="vertical">
        <description id="update-restart-description" data-lazy-l10n-id="appmenu-update-restart-message"></description>
      </popupnotificationcontent>
    </popupnotification>

    <popupnotification id="appMenu-addon-installed-notification"
                       popupid="addon-installed"
                       closebuttonhidden="true"
                       secondarybuttonhidden="true"
                       data-lazy-l10n-id="appmenu-addon-private-browsing-installed"
                       data-l10n-attrs="buttonlabel, buttonaccesskey"
                       dropmarkerhidden="true"
                       checkboxhidden="true"
                       buttonhighlight="true"
                       hidden="true">
      <popupnotificationcontent class="addon-installed-notification-content" orient="vertical">
        <description id="addon-install-description" data-lazy-l10n-id="appmenu-addon-post-install-message">
          <image data-l10n-name="addon-install-icon" class="addon-addon-icon"></image>
          <image data-l10n-name="addon-menu-icon" class="addon-toolbar-icon"></image>
        </description>
        <checkbox id="addon-incognito-checkbox"
                  data-lazy-l10n-id="appmenu-addon-post-install-incognito-checkbox"/>
      </popupnotificationcontent>
    </popupnotification>
  </panel>
</html:template>

<html:template id="customModeWrapper">
  <menupopup id="customizationPaletteItemContextMenu"
             onpopupshowing="gCustomizeMode.onPaletteContextMenuShowing(event)">
    <menuitem oncommand="gCustomizeMode.addToToolbar(document.popupNode, 'palette-context')"
              class="customize-context-addToToolbar"
              accesskey="&customizeMenu.addToToolbar.accesskey;"
              label="&customizeMenu.addToToolbar.label;"/>
    <menuitem oncommand="gCustomizeMode.addToPanel(document.popupNode, 'palette-context')"
              class="customize-context-addToPanel"
              accesskey="&customizeMenu.addToOverflowMenu.accesskey;"
              label="&customizeMenu.addToOverflowMenu.label;"/>
  </menupopup>

  <menupopup id="customizationPanelContextMenu">
    <menuitem command="cmd_CustomizeToolbars"
              accesskey="&customizeMenu.addMoreItems.accesskey;"
              label="&customizeMenu.addMoreItems.label;"/>
  </menupopup>
  <panel id="downloads-button-autohide-panel"
         role="group"
         type="arrow"
         onpopupshown="gCustomizeMode._downloadPanelAutoHideTimeout = setTimeout(() => event.target.hidePopup(), 4000);"
         onmouseover="clearTimeout(gCustomizeMode._downloadPanelAutoHideTimeout);"
         onmouseout="gCustomizeMode._downloadPanelAutoHideTimeout = setTimeout(() => event.target.hidePopup(), 2000);"
         onpopuphidden="clearTimeout(gCustomizeMode._downloadPanelAutoHideTimeout);"
         >
    <checkbox id="downloads-button-autohide-checkbox"
              label="&customizeMode.autoHideDownloadsButton.label;" checked="true"
              oncommand="gCustomizeMode.onDownloadsAutoHideChange(event)"/>
  </panel>
</html:template>

<panel id="appMenu-popup"
       class="cui-widget-panel panel-no-padding"
       role="group"
       type="arrow"
       hidden="true"
       flip="slide"
       position="bottomcenter topright"
       noautofocus="true">
  <panelmultiview id="appMenu-multiView" mainViewId="appMenu-mainView"
                  viewCacheId="appMenu-viewCache">
  </panelmultiview>
</panel>

<html:template id="extensionNotificationTemplate">
  <panel id="extension-notification-panel"
         class="popup-notification-panel panel-no-padding"
         role="group"
         type="arrow"
         flip="slide"
         position="bottomcenter topright"
         tabspecific="true">
    <popupnotification id="extension-new-tab-notification"
                       class="extension-controlled-notification"
                       popupid="extension-new-tab"
                       hidden="true"
                       data-lazy-l10n-id="appmenu-new-tab-controlled-changes"
                       data-l10n-attrs="buttonlabel, buttonaccesskey, secondarybuttonlabel, secondarybuttonaccesskey"
                       closebuttonhidden="true"
                       dropmarkerhidden="true"
                       buttonhighlight="true"
                       checkboxhidden="true">
      <popupnotificationcontent orient="vertical">
        <description id="extension-new-tab-notification-description"/>
      </popupnotificationcontent>
    </popupnotification>
    <popupnotification id="extension-homepage-notification"
                       class="extension-controlled-notification"
                       popupid="extension-homepage"
                       hidden="true"
                       data-lazy-l10n-id="appmenu-homepage-controlled-changes"
                       data-l10n-attrs="buttonlabel, buttonaccesskey, secondarybuttonlabel, secondarybuttonaccesskey"
                       closebuttonhidden="true"
                       dropmarkerhidden="true"
                       buttonhighlight="true"
                       checkboxhidden="true">
      <popupnotificationcontent orient="vertical">
        <description id="extension-homepage-notification-description"/>
      </popupnotificationcontent>
    </popupnotification>
    <popupnotification id="extension-tab-hide-notification"
                       class="extension-controlled-notification"
                       popupid="extension-tab-hide"
                       hidden="true"
                       data-lazy-l10n-id="appmenu-tab-hide-controlled"
                       data-l10n-attrs="buttonlabel, buttonaccesskey, secondarybuttonlabel, secondarybuttonaccesskey"
                       closebuttonhidden="true"
                       dropmarkerhidden="true"
                       checkboxhidden="true">
      <popupnotificationcontent orient="vertical">
        <description id="extension-tab-hide-notification-description"/>
      </popupnotificationcontent>
    </popupnotification>
  </panel>
</html:template>
